
@font-face {
    font-family: "Sclate";
    src: url(./fonts/Sclate.ttf);
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body::before{
    content: "";
    background-image: url(./images/1661206347_1-kartinkin-net-p-oboi-dlya-rabochego-stola-zvezdnie-voini-k-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    position: absolute;
    z-index: -1;
    top: 0; left: 0; right: 0; bottom: 0;
    width: 100%;
    height: 100%;
}
h1{
    margin-top: 200px;
    font-family: "Sclate", sans-serif;
    text-align: center;
    color: rgb(207, 14, 14);
}
#container{
    margin-top: 30px;
    text-align: center;
    position: relative;
}
select, input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 18px;
}
#btn{
    background-color: rgb(207, 14, 14);
    font-family: "Sclate", sans-serif;
    border: none;
    padding: 15px;
    color: #fff;
    font-size: 18px;
}
.post{
    font-family: "Sclate", sans-serif;
    font-size: 30px;
    color: rgb(5, 5, 5);
    padding-top: 30px;
    text-align: center;
}
.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid rgb(207, 14, 14);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 20s linear infinite;
    margin: 0 auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}